* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  position: relative;
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  color: #000;
}

.container-fluid {
  padding: 0;
  overflow: hidden;
}

#main-container {
  position: relative;
  height: 100vh;
  padding-top: 61px;
}

.top-container {
  background-color: #ffc9af;
  height: 100vh;
}

#logo {
  width: 150px;
}

.navbar,
.sticky {
  background-color: #ffc9af;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 2rem;
  padding-left: 2rem;
  font-weight: 600;
  color: #000;
}

.top-btn {
  background: #6d6875;
  border-radius: 7px;
  color: #fff;
  font-size: 18px;
  border: 1px solid #6d6875;
  padding: 0.4rem 2.6rem;
}

.top-btn:hover {
  background-color: transparent;
  color: #6d6875;
}

.icon {
  width: 90%;
}

.form-control {
  height: auto;
  padding: 0.4rem 0.85rem;
  font-size: 18px;
  font-weight: 300;
  color: #000;
  background-color: #f7f4f9;
  border-radius: 7px;
  border: 1px solid #6d6875;
}

.top-container h1 {
  font-size: 2.8rem;
  line-height: 70px;
  font-style: normal;
  font-weight: normal;
}

.left-showcase {
  width: 50%;
  height: 85vh;
  position: absolute;
  right: 0;
  bottom: 0;
}

#mockup1 {
  margin-top: -18rem;
  width: 350px;
}

#coming-soon-txt {
  font-weight: 300;
}

.subscribe-text {
  margin-top: 10px;
}

.img-column p {
  font-weight: 500;
  width: 442px;
}

/* second section */
#second,
#third {
  min-height: 1000px;
  position: relative;
}

.column-1 {
  position: absolute;
  left: 10%;
}

.column-2 {
  position: absolute;
  top: 20%;
  left: 25%;
}

.mockup-img {
  width: 320px;
}

.mockup-img:hover {
  transform: scale(1.1, 1.1);
}

.color-box {
  position: absolute;
  z-index: -2;
  bottom: 10%;
  background-color: #ffc9af;
  height: 700px;
  width: 600px;
}

.flower {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 350px;
}

.flower img {
  width: 100%;
}

/* third section */

.column-3 {
  position: absolute;
  right: 10%;
}

.column-4 {
  position: absolute;
  top: 20%;
  right: 25%;
}

.color-box-2 {
  position: absolute;
  z-index: -2;
  bottom: 10%;
  right: 0;
  background-color: #ffc9af;
  height: 700px;
  width: 600px;
}

.flower-2 {
  position: absolute;
  bottom: 0;
  width: 330px;
}

.flower-2 img {
  width: 100%;
}

#fourth {
  margin-bottom: 2rem;
}

#footer {
  background-color: #ffc9af;
  font-size: 16px;
  font-weight: 600;
}

/* lightbox */
/* The Modal (background) */

.column {
  float: left;
  width: 16.6666667%;
}

.modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 1);
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: transparent;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

/* The Close Button */
.close-btn {
  position: absolute;
  top: 10px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
  z-index: 10;
}

.close-btn:hover,
.close-btn:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

/* Hide the slides by default */
.mySlides {
  display: none;
  justify-content: center;
}

.mySlides img {
  width: 300px;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  /* margin-top: -50px; */
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
  background-color: #fff;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(255, 255, 255, 0.7);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 14px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Caption text */
.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

img.demo {
  opacity: 0.6;
  width: 100%;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  /* transform: scale(1.05, 1.05); */
}

@media only screen and (max-width: 1024px) {
  .top-container h1 {
    font-size: 2.3rem;
    line-height: 60px;
  }

  .left-showcase {
    width: 50%;
    height: auto;
  }

  .subscribe-text {
    margin-top: 0;
    /* margin-bottom: 0; */
  }

  #mockup1 {
    margin-top: -18rem;
    width: 300px;
  }

  .color-box,
  .color-box-2 {
    width: 500px;
  }
}

@media only screen and (max-width: 768px) {
  body {
    font-size: 16px;
  }

  .navbar-light .navbar-toggler {
    border: none;
  }

  .navbar-light .navbar-toggler:focus {
    outline: none;
  }

  .top-container h1 {
    font-size: 1.5rem;
    line-height: 50px;
  }

  .nav-link {
    display: block;
    padding: 0.5rem 0;
  }

  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0;
  }

  .subscribe-text {
    font-size: 0.9rem;
    margin-top: 30px;
  }
  #mockup1 {
    margin-top: 1rem;
    /* width: 250px; */
  }

  .top-btn {
    z-index: 3;
    font-size: 16px;
    padding: 0.4rem 3.7rem;
  }

  .form-control {
    font-size: 16px;
    margin-bottom: 0.7rem;
  }

  /* .mockup-img {
    width: 250px;
  } */

  .color-box,
  .color-box-2 {
    width: 300px;
  }

  .flower,
  .flower-2 {
    width: 200px;
  }

  .img-column p {
    width: 50%;
  }
}

@media only screen and (max-width: 640px) {
  .column-1,
  .column-2,
  .column-3,
  .column-4 {
    position: relative;
    padding: 0 15px;
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .color-box,
  .color-box-2 {
    display: none;
  }

  .column-1 {
    left: 0;
  }

  .column-2 {
    top: 0;
    left: 0;
  }

  .column-3 {
    right: 0;
  }

  .column-4 {
    top: 0;
    right: 0;
  }

  .flower,
  .flower-2 {
    display: none;
  }

  .img-column p {
    width: 100%;
  }

  .form-control {
    margin-bottom: 0;
    width: 200px;
    padding: 0.3rem 0.65rem;
  }

  #girl img {
    width: 100px;
  }

  .form-group {
    margin-bottom: 0.5rem;
  }

  .subscribe-text {
    text-align: center;
  }

  .mySlides img {
    margin-top: 5%;
    width: 250px;
  }

  .btn:not(:disabled):not(.disabled) {
    width: 200px;
  }

  .top-btn {
    padding: 0.3rem 3.7rem;
  }

  .close-btn {
    top: 10px;
    right: 5%;
  }

  #footer p {
    font-size: 14px;
  }

  #mockup1,
  .mockup-img {
    width: 100%;
  }

  .form-inline {
    justify-content: center;
  }
}

@media only screen and (max-width: 320px) {
  .top-container h1 {
    font-size: 1.3rem;
    line-height: 50px;
  }

  .left-showcase {
    display: none;
  }
}
