* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  position: relative;
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  color: #000;
}

.container-fluid {
  padding: 0;
}

#main-container {
  position: relative;
  height: 100vh;
  padding-top: 61px;
}

.top-container {
  background-color: rgba(255, 206, 214, 0.51);
  height: 100vh;
}

#logo {
  width: 150px;
}

.sticky {
  background-color: rgba(255, 206, 214, 0.6);
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 2rem;
  padding-left: 2rem;
  font-weight: 600;
  color: #000;
}

.top-btn {
  background: #6d6875;
  border-radius: 7px;
  color: #fff;
  font-size: 18px;
  padding: 0.4rem 2.6rem;
}

.form-control {
  height: auto;
  padding: 0.5rem 0.85rem;
  font-size: 18px;
  font-weight: 300;
  color: #000;
  background-color: #f7f4f9;
  border-radius: 0;
  border: none;
}

.top-container h1 {
  font-size: 2.8rem;
  line-height: 70px;
  font-style: normal;
  font-weight: normal;
}

.left-showcase {
  width: 50%;
  height: 85vh;
  position: absolute;
  right: 0;
  bottom: 0;
}

/* .left-showcase img {
  width: 100%;
} */

#mockup1 {
  margin-top: -20rem;
  width: 350px;
}

#coming-soon-txt {
  font-weight: 300;
}

.subscribe-text {
  margin-top: 10px;
}

@media only screen and (max-width: 1024px) {
  .top-container h1 {
    font-size: 2.3rem;
    line-height: 60px;
  }

  .left-showcase {
    width: 50%;
    height: auto;
  }

  .subscribe-text {
    margin-top: 0;
    /* margin-bottom: 0; */
  }

  #mockup1 {
    margin-top: -18rem;
    width: 300px;
  }
}

@media only screen and (max-width: 768px) {
  .top-container h1 {
    font-size: 1.5rem;
    line-height: 50px;
  }

  .subscribe-text {
    font-size: 0.9rem;
    margin-top: 30px;
  }
  #mockup1 {
    margin-top: -15rem;
    width: 250px;
  }

  .top-btn {
    z-index: 3;
    font-size: 16px;
    padding: 0.4rem 3.7rem;
  }

  .form-control {
    font-size: 16px;
    margin-bottom: 0.7rem;
  }
}
